@charset "EUC-KR";

@import url(//fonts.googleapis.com/css?family=Nanum+Gothic);

* {
  margin:0;
  padding:0;
}
.tab_faq {
  text-align:center;
  font-size:0;
  max-width:850px;
  margin:100px auto;
}

input[type="radio"] {
  display:none;
}
input[type="radio"] + label { /* 버튼 공통 속성 */
  display:inline-block;
  padding:20px;
  background:none;
  color:black;
  font-size:14px;
  cursor:pointer;
  }
input[type="radio"]:checked + label {/* 선택된 버튼속성 */
  background:none;
  font-weight: bold;
}
.faqconbox { /* 컨텐츠박스 공통 속성 */
  height:600px;
  background:none;
  margin:0 20px;
  display:none;
  text-align:left;
  font-size:12px;
  padding:20px;
  box-sizing:border-box;
  }
input[id="tab01faq"]:checked ~ .con1faq {
  display:block;
  }
input[id="tab02faq"]:checked ~ .con2faq {
  display:block;
}
input[id="tab03faq"]:checked ~ .con3faq {
  display:block;
}
input[id="tab04faq"]:checked ~ .con4faq {
  display:block;
}

/*아코디언*/
.accordion {
/*  position:absolute;*/
  top:30%;
  left:50%;
/*  transform:translateX(-50%);*/
  width:800px;
}

input[id*="answer"] {
  display:none;
}
input[id*="answer"] + label {
  display:block;
  padding:20px;
  color:black;
  font-size: 11px;
  border-style: solid;
  border-width:thin;
  border-left: 0;
  border-right: 0;
  cursor:pointer;
  position:relative;
  height: 20px;
}
input[id*="answer"] + label em {
  position:absolute;
  top:50%;
  right:10px;
  width:30px;
  height:30px;
  margin-top:-15px;
  display:inline-block;
}
input[id*="answer"] + label + div {
  max-height:0;
  transition: all .35s;
  overflow:hidden;
  background:white;
  font-size:11px;
  border-width: thin;
  color: black;
}
input[id*="answer"] + label + div p {
  display:inline-block;
  padding:20px;
}
input[id*="answer"]:checked + label + div {
  max-height:400px;
}
input[id*="answer"]:checked + label em {
  background-position:0 -30px;
}
input[id*="answer"]:checked + label {
  display:block;
  padding:20px;
  color:black;
  cursor:pointer;
  position:relative;
  height: 20px;
}