@charset "EUC-KR";
.socialicon{
  text-align : center;
  padding-bottom: 10px;
  font-size: 24px;
  margin-top:150px;
  text-decoration: none;
  display: flex;
}

.footer .ul{
  text-decoration: none;
   display: inline;
}
.footer-bottom{
  font-size:15px;
}
.fb-right{
  font-size:10px;
  color:black;
}
